<ng-container *ngIf="movie">
    <h1 mat-dialog-title>{{movie.title}}</h1>
    <div mat-dialog-content>
        <div fxLayout="row wrap" fxLayoutGap="5px grid" fxFlexfill fxLayoutAlign="start">
            <img [src]="getMovieImageUrl(movieInput)" height="300" />
            <div fxLayout="column" fxLayoutGap="5px grid">
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Agregar a lista existente</mat-label>
                        <select matNativeControl required>
                            <option value="Peliculas Reguleras">Peliculas Reguleras</option>
                            <option value="Peliculas Buenas">Peliculas Buenas</option>
                            <option value="Peliculas Malas">Peliculas Malas</option>

                        </select>
                        
                    </mat-form-field>




                </p>

                <button mat-button color="accent">Crear Nueva Lista</button>



            </div>

        </div>

    </div>




</ng-container>