<ng-container *ngIf="movie">

<div >
    

        <div mat-dialog-content>


            {{movie.title}}

            <img [src]="getMovieImageUrl(movieInput)" height="200" />

        </div>







        <div>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Fill form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </div>
    
</div>
</ng-container>